PORT=3000

# =========================
# Important key for testing
# =========================
RUN_PRISMA_MIGRATE=true
RUN_PRISMA_SEED=true

CORS_ORIGIN=http://localhost:5173
CLIENT_URL=http://localhost:5173

# =========================
# PostgreSQL
# =========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgress
POSTGRES_DB=e-ticket-cinema

DATABASE_URL=postgresql://postgres:postgress@surya-postgresql:5432/e-ticket-cinema


# =========================
# JWT
# =========================
ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_PUBLIC_KEY=

REFRESH_TOKEN_PRIVATE_KEY=
REFRESH_TOKEN_PUBLIC_KEY=


# =========================
# ImageKit
# =========================
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=


# =========================
# Mail
# =========================
APP_PASSWORD=
USER_EMAIL=


# =========================
# Midtrans
# =========================
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=


# =========================
# Google OAuth
# =========================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# =========================
# Facebook OAuth
# =========================
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=


# =========================
# Redis
# =========================
REDIS_HOST=surya-redis
REDIS_PORT=6379
REDIS_PASSWORD=frontendredisbackend


# =========================
# Logging
# =========================
LOG_DIRECTORY=logs


# =========================
# Admin
# =========================
ADMIN_PASSWORD=